#introduction {
    background-color: rgb(239, 233, 237);
    border: solid 2px rgb(6, 4, 154);
    margin: 5% 5% 5% 5%;
    padding: 3% 3% 3% 3%;
}

.divinternointro {
    display: None;
    margin: 3% 0 0 0;
    padding: 0 0 0 0;
    border-top: solid  1px rgb(6, 4, 154);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#btn_mostra_info {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#div_bottoni {
    margin: 0 30% 0 30%;
    padding: 1% 3% 1% 3%;
} 


#principale {
    font-size: 120%;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
}


.div_graf {
    grid-column: 2 / 3;
    display: block;                                                                
    padding: 2% 4% 4% 4%;
    width: 100%;
}

.trascr_pag {
    grid-column: 1 / 2;
    padding: 2% 8% 2% 8%;
    width: 100%;
}

.div_img_pag {
    width: 100%;
    padding-bottom: 0.5%;
    border: none;
    border-bottom: solid 2px rgb(228, 190, 36);
}

.img_pag {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.iniz_pag {
    border-bottom: solid 2px rgb(228, 190, 36);
}


#iniz_75 {
    margin-top: 37%;
}

#iniz_76 {
    margin-top: 58%;
}


#iniz_77 {
    margin-top: 45%;
}

#iniz_78 {
    margin-top: 36%;
}


#iniz_79 {
    margin-top: 32%;
}





div {
    background-color: rgb(239, 233, 237);
    border: solid 2px rgb(6, 4, 154);
}

h2 {
    font-size: 160%;
}

h3 {
    font-size: 130%;
    margin-top: 2%;
}

h4 {
    
    margin-top: 0.5%;
}


#div_bottoni {
    text-align: center;
}

#bottoni_sel_pag {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



mark {
    padding-top: 0%;
    padding-bottom: 0%;
}

.gap {
    background-color: gray;
}

.sic {
    background-color: orange;
}

.corr {
    display: none;
    background-color: rgb(151, 241, 115);
}

.add {
    border: solid 1px rgb(6, 212, 6)
}

.sottoadd {
    display: none;
}

.expan {
    display: none;
    border: solid 1px black;
    margin-left: 1%;
    margin-right: 1%;
}




@media only screen and (max-width: 4950px) {
    body {font-size: 319.35483870967744% !important;}
}
@media only screen and (max-width: 4900px) {
    body {font-size: 316.1290322580645% !important;}
}
@media only screen and (max-width: 4850px) {
    body {font-size: 312.9032258064516% !important;}
}
@media only screen and (max-width: 4800px) {
    body {font-size: 309.6774193548387% !important;}
}
@media only screen and (max-width: 4750px) {
    body {font-size: 306.4516129032258% !important;}
}
@media only screen and (max-width: 4700px) {
    body {font-size: 303.2258064516129% !important;}
}
@media only screen and (max-width: 4650px) {
    body {font-size: 300.0% !important;}
}
@media only screen and (max-width: 4600px) {
    body {font-size: 296.7741935483871% !important;}
}
@media only screen and (max-width: 4550px) {
    body {font-size: 293.5483870967742% !important;}
}
@media only screen and (max-width: 4500px) {
    body {font-size: 290.3225806451613% !important;}
}
@media only screen and (max-width: 4450px) {
    body {font-size: 287.0967741935484% !important;}
}
@media only screen and (max-width: 4400px) {
    body {font-size: 283.8709677419355% !important;}
}
@media only screen and (max-width: 4350px) {
    body {font-size: 280.64516129032256% !important;}
}
@media only screen and (max-width: 4300px) {
    body {font-size: 277.4193548387097% !important;}
}
@media only screen and (max-width: 4250px) {
    body {font-size: 274.19354838709677% !important;}
}
@media only screen and (max-width: 4200px) {
    body {font-size: 270.96774193548384% !important;}
}
@media only screen and (max-width: 4150px) {
    body {font-size: 267.741935483871% !important;}
}
@media only screen and (max-width: 4100px) {
    body {font-size: 264.51612903225805% !important;}
}
@media only screen and (max-width: 4050px) {
    body {font-size: 261.2903225806452% !important;}
}
@media only screen and (max-width: 4000px) {
    body {font-size: 258.06451612903226% !important;}
}
@media only screen and (max-width: 3950px) {
    body {font-size: 254.83870967741936% !important;}
}
@media only screen and (max-width: 3900px) {
    body {font-size: 251.61290322580646% !important;}
}
@media only screen and (max-width: 3850px) {
    body {font-size: 248.38709677419354% !important;}
}
@media only screen and (max-width: 3800px) {
    body {font-size: 245.16129032258064% !important;}
}
@media only screen and (max-width: 3750px) {
    body {font-size: 241.93548387096774% !important;}
}
@media only screen and (max-width: 3700px) {
    body {font-size: 238.70967741935485% !important;}
}
@media only screen and (max-width: 3650px) {
    body {font-size: 235.48387096774192% !important;}
}
@media only screen and (max-width: 3600px) {
    body {font-size: 232.25806451612902% !important;}
}
@media only screen and (max-width: 3550px) {
    body {font-size: 229.03225806451613% !important;}
}
@media only screen and (max-width: 3500px) {
    body {font-size: 225.80645161290323% !important;}
}
@media only screen and (max-width: 3450px) {
    body {font-size: 222.58064516129033% !important;}
}
@media only screen and (max-width: 3400px) {
    body {font-size: 219.3548387096774% !important;}
}
@media only screen and (max-width: 3350px) {
    body {font-size: 216.1290322580645% !important;}
}
@media only screen and (max-width: 3300px) {
    body {font-size: 212.90322580645162% !important;}
}
@media only screen and (max-width: 3250px) {
    body {font-size: 209.67741935483872% !important;}
}
@media only screen and (max-width: 3200px) {
    body {font-size: 206.4516129032258% !important;}
}
@media only screen and (max-width: 3150px) {
    body {font-size: 203.2258064516129% !important;}
}
@media only screen and (max-width: 3100px) {
    body {font-size: 200.0% !important;}
}
@media only screen and (max-width: 3050px) {
    body {font-size: 196.7741935483871% !important;}
}
@media only screen and (max-width: 3000px) {
    body {font-size: 193.5483870967742% !important;}
}
@media only screen and (max-width: 2950px) {
    body {font-size: 190.32258064516128% !important;}
}
@media only screen and (max-width: 2900px) {
    body {font-size: 187.09677419354838% !important;}
}
@media only screen and (max-width: 2850px) {
    body {font-size: 183.8709677419355% !important;}
}
@media only screen and (max-width: 2800px) {
    body {font-size: 180.6451612903226% !important;}
}
@media only screen and (max-width: 2750px) {
    body {font-size: 177.41935483870967% !important;}
}
@media only screen and (max-width: 2700px) {
    body {font-size: 174.19354838709677% !important;}
}
@media only screen and (max-width: 2650px) {
    body {font-size: 170.96774193548387% !important;}
}
@media only screen and (max-width: 2600px) {
    body {font-size: 167.74193548387098% !important;}
}
@media only screen and (max-width: 2550px) {
    body {font-size: 164.51612903225808% !important;}
}
@media only screen and (max-width: 2500px) {
    body {font-size: 161.29032258064515% !important;}
}
@media only screen and (max-width: 2450px) {
    body {font-size: 158.06451612903226% !important;}
}
@media only screen and (max-width: 2400px) {
    body {font-size: 154.83870967741936% !important;}
}
@media only screen and (max-width: 2350px) {
    body {font-size: 151.61290322580646% !important;}
}
@media only screen and (max-width: 2300px) {
    body {font-size: 148.38709677419354% !important;}
}
@media only screen and (max-width: 2250px) {
    body {font-size: 145.16129032258064% !important;}
}
@media only screen and (max-width: 2200px) {
    body {font-size: 141.93548387096774% !important;}
}
@media only screen and (max-width: 2150px) {
    body {font-size: 138.70967741935485% !important;}
}
@media only screen and (max-width: 2100px) {
    body {font-size: 135.48387096774192% !important;}
}
@media only screen and (max-width: 2050px) {
    body {font-size: 132.25806451612902% !important;}
}
@media only screen and (max-width: 2000px) {
    body {font-size: 129.03225806451613% !important;}
}
@media only screen and (max-width: 1950px) {
    body {font-size: 125.80645161290323% !important;}
}
@media only screen and (max-width: 1900px) {
    body {font-size: 122.58064516129032% !important;}
}
@media only screen and (max-width: 1850px) {
    body {font-size: 119.35483870967742% !important;}
}
@media only screen and (max-width: 1800px) {
    body {font-size: 116.12903225806451% !important;}
}
@media only screen and (max-width: 1750px) {
    body {font-size: 112.90322580645162% !important;}
}
@media only screen and (max-width: 1700px) {
    body {font-size: 109.6774193548387% !important;}
}
@media only screen and (max-width: 1650px) {
    body {font-size: 106.45161290322581% !important;}
}
@media only screen and (max-width: 1600px) {
    body {font-size: 103.2258064516129% !important;}
}
@media only screen and (max-width: 1550px) {
    body {font-size: 100.0% !important;}
}
@media only screen and (max-width: 1500px) {
    body {font-size: 96.7741935483871% !important;}
}
@media only screen and (max-width: 1450px) {
    body {font-size: 93.54838709677419% !important;}
}
@media only screen and (max-width: 1400px) {
    body {font-size: 90.3225806451613% !important;}
}
@media only screen and (max-width: 1350px) {
    body {font-size: 87.09677419354838% !important;}
}
@media only screen and (max-width: 1300px) {
    body {font-size: 83.87096774193549% !important;}
}
@media only screen and (max-width: 1250px) {
    body {font-size: 80.64516129032258% !important;}
}
@media only screen and (max-width: 1200px) {
    body {font-size: 77.41935483870968% !important;}
}
@media only screen and (max-width: 1150px) {
    body {font-size: 74.19354838709677% !important;}
}
@media only screen and (max-width: 1100px) {
    body {font-size: 70.96774193548387% !important;}
}
@media only screen and (max-width: 1050px) {
    body {font-size: 67.74193548387096% !important;}
}
@media only screen and (max-width: 1000px) {
    body {font-size: 64.51612903225806% !important;}
}
@media only screen and (max-width: 950px) {
    body {font-size: 61.29032258064516% !important;}
}
@media only screen and (max-width: 900px) {
    body {font-size: 58.064516129032256% !important;}
}
@media only screen and (max-width: 850px) {
    body {font-size: 54.83870967741935% !important;}
}
@media only screen and (max-width: 800px) {
    body {font-size: 51.61290322580645% !important;}
}
@media only screen and (max-width: 750px) {
    body {font-size: 48.38709677419355% !important;}
}
@media only screen and (max-width: 700px) {
    body {font-size: 45.16129032258065% !important;}
}
@media only screen and (max-width: 650px) {
    body {font-size: 41.935483870967744% !important;}
}
@media only screen and (max-width: 600px) {
    body {font-size: 38.70967741935484% !important;}
}
@media only screen and (max-width: 550px) {
    body {font-size: 35.483870967741936% !important;}
}
@media only screen and (max-width: 500px) {
    body {font-size: 32.25806451612903% !important;}
}
@media only screen and (max-width: 450px) {
    body {font-size: 29.032258064516128% !important;}
}
@media only screen and (max-width: 400px) {
    body {font-size: 25.806451612903224% !important;}
}
@media only screen and (max-width: 350px) {
    body {font-size: 22.580645161290324% !important;}
}
@media only screen and (max-width: 300px) {
    body {font-size: 19.35483870967742% !important;}
}
@media only screen and (max-width: 250px) {
    body {font-size: 16.129032258064516% !important;}
}
