#introduction {
    background-color: rgb(239, 233, 237);
    border: solid 2px rgb(6, 4, 154);
    margin: 5% 5% 5% 5%;
    padding: 3% 3% 3% 3%;
}

.divinternointro {
    display: None;
    margin: 3% 0 0 0;
    padding: 0 0 0 0;
    border-top: solid  1px rgb(6, 4, 154);
}

#btn_mostra_info {
    display: block;
    margin-left: auto;
    margin-right: auto;

}